@mixin gridColumnArgs($beginning, $end)
    grid-column-start: $beginning
    grid-column-end: $end

@mixin gridRowArgs($beginning, $end)
    grid-row-start: $beginning
    grid-row-end: $end

@mixin gridArgs($colStart, $colEnd, $rowStart, $rowEnd)
    @include gridColumnArgs($colStart, $colEnd)
    @include gridRowArgs($rowStart, $rowEnd)

:host
    display: inline-grid
    padding: 10px
    grid-template-columns: [left] 120px [center] 120px [right] 120px [end]
    grid-template-rows: [top] 15% [second] 45% [third] 45% [fourth] 25% [end]

h2
    text-align: center
    font-size: 40px
    @include gridArgs(left, end, top, second)

.extremes
    text-align: center
    font-size: 2rem
    @include gridColumnArgs(right, end)
    &.low
        align-self: start
        margin-top: 3vh
        @include gridRowArgs(third, fourth)
    &.high
        align-self: end
        margin-bottom: 3vh
        @include gridRowArgs(second, third)

.white-text
    color: white
    margin: 5px
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black

.current-temp
    font-size: 2rem

.feels-like
    font-size: 1.3rem

.big-icon 
    font-size: 15rem

.icon-stack
    position: relative
    // display: inline-block
    @include gridArgs(left, right, second, fourth)
    align-self: center
    .icon-center-text
        text-align: center
        position: absolute
        left: 0px
        height: 100%
        width: 100%
        &.rain, &.smog
            top: 50px
            font-weight: bold
        &.cloud, &.sun, &.bolt, &.snow, &.cloud-sun
            top: 90px
            font-weight: bold